<div [innerHTML]="typescriptMarkdown | language: 'typescript' | markdown"></div>
<markdown lineNumbers ngPreserveWhitespaces>
  {{ typescriptMarkdown }}
</markdown>
<markdown emoji>I :heart: ngx-markdown</markdown>
<markdown>
  {{ math }}
</markdown>

<section>
  <h2 id="headers">Headers</h2>
  <pre class="language-none">{{ headers }}</pre>
  <markdown>{{ headers }}</markdown>
</section>

<section>
  <h2 id="emphasis">Emphasis</h2>
  <pre class="language-none">{{ emphasis }}</pre>
  <markdown>{{ emphasis }}</markdown>
</section>

<section>
  <h2 id="lists">Lists</h2>
  <p>
    In this example, leading and trailing spaces are shown with with dots (⋅)
  </p>
  <pre class="language-none">{{ listsDot }}</pre>
  <markdown>{{ lists }}</markdown>
</section>

<section>
  <h2 id="links">Links</h2>
  <pre class="language-none">{{ links }}</pre>
  <markdown>{{ links }}</markdown>
</section>

<section>
  <h2 id="images">Images</h2>
  <pre class="language-none">{{ images }}</pre>
  <markdown>{{ images }}</markdown>
</section>

<section>
  <h2 id="code-and-synthax">Code and Syntax Highlighting</h2>
  <pre class="language-none">{{ codeAndSynthaxHighlighting }}</pre>
  <markdown>{{ codeAndSynthaxHighlighting }}</markdown>
</section>

<section>
  <h2 id="tables">Tables</h2>
  <pre class="language-none">{{ tables }}</pre>
  <markdown>{{ tables }}</markdown>
</section>

<section>
  <h2 id="blockquotes">Blockquotes</h2>
  <pre class="language-none">{{ blockquotes }}</pre>
  <markdown>{{ blockquotes }}</markdown>
</section>

<section>
  <h2 id="horizontal-rule">Horizontal Rule</h2>
  <pre class="language-none">{{ horizontalRule }}</pre>
  <markdown>{{ horizontalRule }}</markdown>
</section>
<markdown [src]="'assets/for-loop.js'"></markdown>
<div>asdfjsl</div>

<markdown [src]="'assets/toc.md'"></markdown>
