
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="box-shadow: 0px 0.5px 2px 0.5px  silver;">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="Aboutme" routerLinkActive="active" style="color: azure;" class="nav-link">ShangBlog</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav justify-content-end">
                        <li class="nav-item">
                          <a routerLink="Aboutme" routerLinkActive="active" class="nav-link">About me</a>
                        </li>
                        <li class="nav-item">
                          <a routerLink="Note-List" routerLinkActive="active" class="nav-link">Note</a>
                        </li>
                        <li class="nav-item">
                          <a routerLink="Create-Post" routerLinkActive="active" class="nav-link">Life</a>
                        </li>
                      </ul>
                </div>
            </nav> 
            <router-outlet></router-outlet>
            <hr>
            <footer class="mt-1 mb-5" style="text-align:center;">
                <span >All Right Reserved 2020 @Shang</span>
            </footer>
        </div>
    </div>  
</div>
